$light: #fff;
$primary-color: #721764;
$secondary-color:#71051c;
$base-color:#6F8BA4;
$title-color:#721764;
$black:#222;
$gray:#eff0f3;
$secondary-bg:#f4f9fc;
$border-color:#fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font:'Roboto', sans-serif;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);